body { 
  background-color: green;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCJ1FKyguP_wTywt37JJ75W-ZGrZEDU0xCBrjcyb4H-5nriVKE) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}